/* Create three equal columns that floats next to each other */
.row{
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.column-1,.column-2,.column-3 {
    padding: 20px;
  }

/* ----------------- column 1 ---------------------------*/
  .column-1{
    float: left;
    width: max-content;
    margin-left: 0;
    width: 15%;
    height: max-content;
  /*  box-shadow: 4px 4px 4px 0 rgb(194, 194, 194); */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    margin-top: 10%;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    margin-left: 30px;
    
  }

  /* ----------------- column 2 ---------------------------*/
  .column-2{
    margin-top: 10%;
    margin-left: 18%;
    width: 77%;
    height: 100%;
    background-color: white;
    overflow:auto;
    float: none;
  }

  .sub-nav-bar{
    z-index: 1;
    margin-left: 30%;
    margin-top: 6%; /*IMPORTANT FOR CLICK FUNCTION*/
    width: 100%;
    display: flex;
    margin-bottom: 2%;
    position: fixed;
    background-color: white;
  }


  .preview-test{
    z-index: 1;
    display: none;
    margin-left: 16%;
    margin-top: 9%;
    width: 50%;
    padding: 0;
  }


  /* static field css */
  .col-2-static-name{
    background-color: rgb(243, 243, 243);
    border: none;
    margin-bottom: 10px;
    width: 30%;
    height: 30px;
    font-size: small;
  }

  .col-2-static-description{
    background-color: rgb(243, 243, 243);
    border: none;
    margin-bottom: 10px;
    width: 50%;
    height: 70px;
    font-size: small;
  }

  .col-2-static-date{
    background-color: rgb(243, 243, 243);
    border: none;
    margin-bottom: 10px;
    width: 30%;
    height: 30px;
    font-size: small;
  }

  input{
    padding-left: 10px;
  }


  /* ----------------- column 3 ---------------------------*/
  .column-3{
    margin-top: 10%;
    margin-left: 67%;
    padding: 2%;
    width: 30%;
    background-color: white;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .icons-col1{
    float: left;
  }

  .vertical-list{
    text-align: left;
  }

  i{
    float: right;
    color: black;
  }



  h6{
    font-size: small;
  }

  button{
    margin-top: 2%;
  }

  label{
    font-size: small;
  }


  .form-control{
    background-color: rgb(243, 243, 243);
    border: none;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width: 80%;
    font-size: small;
  }

  .save-button, .add-button, .preview-button, .view-forms, .submit-button, .add-options-button, .add-conditonal-logic-button{
    background-color: rgb(70, 129, 110);
    border: none;
    color: white;
    font-weight:normal;
    font-size: small;
    margin-right: 5px;
  }


  .sub-nav-bar-edit, .sub-nav-bar-preview{
    background-color: rgb(70, 129, 110);
    border: none;
    color: white;
    font-weight:normal;
    font-size: small;
    margin-right: 5px;
  }

  .save-button:hover, .add-button:hover, .preview-button:hover, .view-forms:hover, .sub-nav-bar-edit:hover, .sub-nav-bar-preview:hover{
    background-color:rgb(255, 190, 24)
  }

  .save-button:focus, .add-button:focus, .preview-button:focus, .view-forms:focus, .sub-nav-bar-edit:focus, .sub-nav-bar-preview:focus{
    background-color:rgb(255, 190, 24)
  }

  .dropdown{
    width: 100%;
    font-size: small;
  }

select{
  width: 60%;
}

.close {
  cursor: pointer;
  float: right;
  padding: 2px 4px;
  transform: translate(0%, -50%);
  background-color: rgb(70, 129, 110);
  border: none;
  color: white;
}

.title{
  background-color: aqua;
}

.stryker-logo{
  width: 100px;
  height: 60px;
  background-color: aqua;
}

.form-section{
  border: none;
  border-bottom: 1px, dashed, rgb(146, 146, 146);
  width: 100%;
  margin-bottom: 2%;
  font-size: small;
}

.check-box{
  display: inline-block;
}

.form-group{
  font-size: small;
}

.text-form{
  border: none;
  border-bottom: 1px, dashed, rgb(146, 146, 146);
}

.conditional-logic-options{
  display: none;
}

.field:hover{
  cursor: pointer;
  background-color: rgb(245, 196, 72);

}
.field1{
  width: 80%;
  padding: 2px;
  padding-left: 5px;
  cursor: pointer;
  margin-bottom: 2%;
}

.field1:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.field1:hover .dndHandle{
  visibility: visible;
}

.parent{
  display: flex;
  overflow: hidden;
}

.dndHandle{
  float: right;
  visibility: hidden;
}

.dndDropArea{
  width: 70%;
}

.form-elements{
  width: 100%;
  height: auto;
}

.drop-area-text{
  display: block;
}

.preview-1{
  display: none;
  margin-left: 18%;
  margin-top: 11%;
  width: 60%;
  max-width: 500px;
}

.section-border{
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: rgb(255, 190, 24);
}


  
  
