/* Create three equal columns that floats next to each other */
.row{
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.column-1,.column-2,.column-3 {
    padding: 20px;
  }

/* ----------------- column 1 ---------------------------*/
  .column-1{
    float: left;
    width: max-content;
    margin-left: 0;
    width: 15%;
    height: 500px;
  /*  box-shadow: 4px 4px 4px 0 rgb(194, 194, 194); */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    margin-top: 9%;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    margin-left: 30px;
    
  }

  .column-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* ----------------- column 2 ---------------------------*/
  .column-2{
    margin-top: 10%;
    margin-left: 18%;
    width: 77%;
    height: 100%;
    background-color: #eee;
    overflow:auto;
    float: none;
  }

  .sub-nav-bar{
    z-index: 1;
    margin-left: 18%;
    margin-top: 6%; /*IMPORTANT FOR CLICK FUNCTION*/
    width: 100%;
    display: flex;
    margin-bottom: 2%;
    position: fixed;
    background-color: white;
  }


  .preview-test{
    z-index: 2;
    display: none;
    margin-left: 16%;
    margin-top: 9%;
    padding: 0;
  }


  /* static field css */
  .col-2-static-name{
    background-color: rgb(243, 243, 243);
    border: none;
    margin-bottom: 10px;
    width: 30%;
    height: 30px;
    font-size: small;
  }

  .col-2-static-description{
    background-color: rgb(243, 243, 243);
    border: none;
    margin-bottom: 10px;
    width: 50%;
    height: 70px;
    font-size: small;
  }

  .col-2-static-date{
    background-color: rgb(243, 243, 243);
    border: none;
    margin-bottom: 10px;
    width: 30%;
    height: 30px;
    font-size: small;
  }

  input{
    padding-left: 10px;
  }


  /* ----------------- column 3 ---------------------------*/
  .column-3{
    margin-top: 9%;
    margin-left: 61%;
    text-align: left;
    width: 35%;
    overflow: hidden;
    position: fixed;
    display: none;
    z-index: 2;
  }

  .col-3-text{
    display: none;
  }

  .col-3-email{
    display: none;
  }

  .col-3-phone{
    display: none;
  }

  .col-3-date{
    display: none;
  }

  .col-3-select{
    display: none;
  }


  .icons-col1{
    float: left;
  }

  .vertical-list{
    text-align: left;
  }

  i{
    float: right;
    color: black;
  }


  .dropped-element-text, .dropped-element-email,.dropped-element-phone, .dropped-element-date, .dropped-element-select
  {
    cursor: pointer;
    align-items: center;
    padding-left: 2%;
    padding-right: 5%;
  }

  h6{
    font-size: small;
  }

  button{
    margin-top: 2%;
  }

  label{
    font-size: small;
  }


  .form-control{
    background-color: rgb(243, 243, 243);
    border: none;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width: 60%;
  }

  .save-button, .add-button, .preview-button, .view-forms{
    background-color: rgb(70, 129, 110);
    border: none;
    color: white;
    font-weight:normal;
    font-size: small;
    margin-right: 5px;
  }


  .sub-nav-bar-edit, .sub-nav-bar-preview{
    background-color: rgb(70, 129, 110);
    border: none;
    color: white;
    font-weight:normal;
    font-size: small;
    margin-right: 5px;
  }

  .save-button:hover, .add-button:hover, .preview-button:hover, .view-forms:hover, .sub-nav-bar-edit:hover, .sub-nav-bar-preview:hover{
    background-color:rgb(255, 190, 24)
  }

  .dropdown{
    width: 100%;
  }

select{
  width: 60%;
}

.dndDropArea{
  /*display: flex; 
  overflow-x: hidden;*/
}

/*
.drop-zone{
  width: 300px;
}*/

  




  
  
