<div class="navbar navbar-default">
        <div class="topnav">
            <a routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a>
            <a routerLink="/app-onboarding" routerLinkActive="active">APP-ONBOARDING</a>
            <a routerLink="/workflow" routerLinkActive="active">WORKFLOW</a>
            <a routerLink="/registration" routerLinkActive="active">REGISTRATION</a>
            <a routerLink="/app-creation" routerLinkActive="active">APP-CREATION</a>
           <!-- <a class="active" href="#dashboard">DASHBOARD</a>
            <a href="#app-onboarding">APP ONBOARDING</a>
            <a href="#workflow">WORKFLOW</a>
            <a href="#registration">REGISTRATION</a>
            <a href="#app-creation">APP CREATION</a> -->
        </div>
</div>