.topnav {
    background-color:#4f5956;
    margin-top: 10%;
    margin-left: -2%;
    margin-right: 0;
    padding-left: 30px;
    width: 110%;
    position: fixed;
    z-index: 2;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: goldenrod;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: goldenrod;
  }