body{
    margin-top: 200px;
    margin-left: 100px;
}
.table-container{
    width: 50%;
}
table, th, td {
    border: 1px solid black;
  }

th{
    background-color: rgb(70, 129, 110);
    color: white;
    font-weight: normal;
    text-align: center;
}

