
<div class="row">
  <!--column 1 - Draggable List-->
  <div class="sidenav" id="mySidenav" style="background-color:rgb(255, 255, 255);">
    <nav class="nav nav-pills nav-justified">
      <a class="nav-link active">New</a>
      <a class="nav-link">Existing</a>
    </nav>
      <a (click)="openAppMetadata()">App Metadata</a>
      <a href="#">Create Forms</a>
      <a>Email Template</a>
      <a>Workflow</a>
      <a>Application Branding</a>
      
  </div>
      

  <div id="columnId-2" class="column-2">
        <b>App Meta data</b><br><br>

        <!-----------------------Row 1------------------------->
        <div class="row1">
          <div class="left">
            
            <div class="form-group">
              <label for="formGroupExampleInput">App name</label>
              <input type="text" class="form-control" id="formGroupExampleInput">
            </div>
    
          </div>
          <div class="right">
            <label>Marketing Application Category</label><br>
            <select class="selectpicker" id="selectpickerId" data-style="btn-success">
                      <option value="" selected disabled>---Select---</option>
                      <option>Medical education content</option>
                      <option>Product information content</option>
                      <option>Category 3</option>
            </select>
          </div>
        </div>
        <br>
        <br>
        
        <!-----------------------Row 2------------------------->
        <div class="row2">
          <div class="left">
            <label>App risk level</label><br>
            <select class="selectpicker" id="selectpickerId" data-style="btn-success">
                  <option value="" selected disabled>---Select---</option>
                  <option>Low</option>
                  <option>Medium</option>
                  <option>High</option>
            </select>
          </div>
        
          <div class="right">
            <div class="form-group">
              <label for="formGroupExampleInput">Owning business</label>
              <input type="text" class="form-control" id="formGroupExampleInput" >
            </div>
          </div>

        </div>
        <br>
        <br>

      <!-----------------------Row 3------------------------->

      <div class="left">
        <div class="form-group">
          <label for="formGroupExampleInput">App landing page URL</label>
          <input type="text" class="form-control" id="formGroupExampleInput" >
        </div>
      </div>
      <br>
      <br>


      <!-----------------------Row 4------------------------->
        
      <div class="row3">
        <div class="left">
            <label>Content hosting platform</label><br>
            <select class="selectpicker" id="selectpickerId" data-style="btn-success">
                  <option value="" selected disabled>---Select---</option>
                  <option>AEM</option>
                  <option>Category-2</option>
                  <option>Category-3</option>
            </select>
          </div>


          <div class="right">
            <label>Shareable via social media?</label><br>
            <select class="selectpicker" id="selectpickerId" data-style="btn-success">
                  <option value="" selected disabled>---Select---</option>
                  <option>Yes</option>
                  <option>No</option>
            </select>
          </div>
        </div>
        <br>
        <br>

      <!-----------------------Row 5------------------------->

    <div class="left">
      <label>Primary country regions for which app access is allowed</label><br>
        <select class="selectpicker" id="selectpickerId" data-style="btn-success">
              <option value="" selected disabled>---Select---</option>
              <option>APAC</option>
              <option>East Asia</option>
              <option>Japan</option>
              <option>SSP</option>
        </select>
    </div>
    <br>

    <div class="left">
      <div class="form-group">
        <label for="formGroupExampleInput">Support contact information for primary country regions</label>
        <input type="text" class="form-control" id="formGroupExampleInput" >
    </div>
    <br>



    <label>Secondary country regions for which app access is allowed</label><br>
    <select class="selectpicker" id="selectpickerId" data-style="btn-success">
            <option value="" selected disabled>---Select---</option>
            <option>APAC</option>
            <option>East Asia</option>
            <option>Japan</option>
            <option>SSP</option>
    </select>
    <br>
    <br>

    <div class="left">
      <div class="form-group">
        <label for="formGroupExampleInput">Support contact information for secondary country regions</label>
        <input type="text" class="form-control" id="formGroupExampleInput" >
      </div>
    </div>
    <br>

      <!------------------Row 6--------->
      <div class="row4">
          <div class="left">
            <label>Target Audience</label><br>
            <select class="selectpicker" id="selectpickerId" data-style="btn-success">
                <option value="" selected disabled>---Select---</option>
                <option>HCPs</option>
                <option>Dealers</option>
                <option>Non HCP Businesses</option>
                <option>General public</option>
            </select>
          </div>
          <div class="right">
            <label>Access Pattern</label><br>
            <select class="selectpicker" id="selectpickerId" data-style="btn-success">
              <option value="" selected disabled>---Select---</option>
              <option>Automatic</option>
              <option>Manual</option>
          </select>
          </div>
        </div>
        <br>
        <br>

        <!-------Row 7----->


        <div class="row5">
        <div class="left">
            <label>App request policy</label><br>
            <select class="selectpicker" id="selectpickerId" data-style="btn-success">
              <option value="" selected disabled>---Select---</option>
              <option>Self-service</option>
              <option>Self-service provider</option>
            </select>
        </div>
        <div class="right">
            <label>Rules for non HCPs</label><br>
            <select class="selectpicker" id="selectpickerId" data-style="btn-success">
              <option value="" selected disabled>---Select---</option>
              <option>Open</option>
              <option>Restricted</option>
            </select>
        </div>
      </div>
      <br>
      <br>

    <!-------Row 8------->

    <div class="row6">
      <div class="left">
        <label>Access Policy for Non-EEMEA/US residents</label><br>
        <select class="selectpicker" id="selectpickerId" data-style="btn-success">
          <option value="" selected disabled>---Select---</option>
          <option>Self-service</option>
          <option>Self-service provider</option>
        </select>
      </div>

      <!---OpenRequires ApprovalDenied---->
      <div class="right">
        <label>Rules for Stryker Employees</label><br>
        <select class="selectpicker" id="selectpickerId" data-style="btn-success">
          <option value="" selected disabled>---Select---</option>
          <option>Open</option>
          <option>Requires Approval</option>
          <option>Denied</option>
        </select>
      </div>
    </div>
    <br>
    <br>

    <div class="left">
      <div class="form-group">
        <label for="formGroupExampleInput">Blocked domains</label>
        <input type="text" class="form-control" id="formGroupExampleInput" >
      </div>
    </div>

    <br>
    <div class="btn-cnt">
        <button (click)="myFunction()" class="save-button">SAVE</button>
    </div>
    <br>

  </div>

</div>
